#header {
  height: 100%;
}

#header .top-header {
  background-color: #0B2C3D;
  width: 100%;
}

#header .top-header .top-right {
  width: 70%;
}

#header .top-header .top-right i {
  color: #F74E3D;
  padding-right: 25px;
}

#header .top-header .top-right i span {
  color: #fff;
  padding-left: 10px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#header .top-header .top-left {
  width: 30%;
}

#header .top-header .top-left i {
  padding-left: 15px;
  color: #fff;
}

#header .top-header .top-left button {
  padding: 3px 25px;
  margin-left: 25px;
  color: #fff;
}

#header .bottom-header {
  height: 15vh;
  background-color: #fff;
}

#header .bottom-header .bottom-left {
  width: 20%;
  margin-top: 25px;
}

#header .bottom-header .bottom-midle {
  width: 60%;
  margin-top: 44px;
}

#header .bottom-header .bottom-midle ul .home {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul .home:hover .drop-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .bottom-header .bottom-midle ul .home .drop-menu {
  top: 17%;
  left: 30%;
  background-color: red;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .bottom-header .bottom-midle ul .home .drop-menu ul {
  border-top: 5px solid #F74E3D;
}

#header .bottom-header .bottom-midle ul .home .drop-menu ul li a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.459);
  position: relative;
}

#header .bottom-header .bottom-midle ul .home .drop-menu ul li a:hover {
  color: #F74E3D;
}

#header .bottom-header .bottom-midle ul .about {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul .about:hover .drop-menu2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .bottom-header .bottom-midle ul .about .drop-menu2 {
  top: 17%;
  left: 37%;
  background-color: red;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .bottom-header .bottom-midle ul .about .drop-menu2 ul {
  border-top: 5px solid #F74E3D;
}

#header .bottom-header .bottom-midle ul .about .drop-menu2 ul li a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.459);
  position: relative;
}

#header .bottom-header .bottom-midle ul .about .drop-menu2 ul li a:hover {
  color: #F74E3D;
}

#header .bottom-header .bottom-midle ul .shop {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul .shop:hover .drop-menu3 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .bottom-header .bottom-midle ul .shop .drop-menu3 {
  top: 17%;
  left: 44%;
  background-color: red;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .bottom-header .bottom-midle ul .shop .drop-menu3 ul {
  border-top: 5px solid #F74E3D;
}

#header .bottom-header .bottom-midle ul .shop .drop-menu3 ul li a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.459);
  position: relative;
}

#header .bottom-header .bottom-midle ul .shop .drop-menu3 ul li a:hover {
  color: #F74E3D;
}

#header .bottom-header .bottom-midle ul .news {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul .news:hover .drop-menu4 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .bottom-header .bottom-midle ul .news .drop-menu4 {
  top: 17%;
  left: 50%;
  background-color: red;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .bottom-header .bottom-midle ul .news .drop-menu4 ul {
  border-top: 5px solid #F74E3D;
}

#header .bottom-header .bottom-midle ul .news .drop-menu4 ul li a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.459);
  position: relative;
}

#header .bottom-header .bottom-midle ul .news .drop-menu4 ul li a:hover {
  color: #F74E3D;
}

#header .bottom-header .bottom-midle ul .pages {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul .pages:hover .drop-menu5 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 {
  top: 22%;
  left: 0;
  background-color: red;
  width: 100%;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 ul {
  border-top: 5px solid #F74E3D;
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 ul .drop-img {
  vertical-align: middle;
  border: 5px solid grey;
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 ul .drop-img img {
  max-width: 100%;
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 ul li a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.459);
  position: relative;
}

#header .bottom-header .bottom-midle ul .pages .drop-menu5 ul li a:hover {
  color: #F74E3D;
}

#header .bottom-header .bottom-midle ul .contact {
  padding: 5px 0;
}

#header .bottom-header .bottom-midle ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: #181717;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

#header .bottom-header .bottom-midle ul li a:hover {
  color: #FF5A3C;
}

#header .bottom-header .bottom-right {
  width: 20%;
  margin-top: 25px;
}

#header .bottom-header .bottom-right .icon1 {
  display: none;
}

#header .bottom-header .bottom-right i {
  padding: 10px 15px;
  background-color: #fff;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

#header .bottom-header .bottom-right i:hover {
  background-color: red;
  color: #fff;
}

.section1 {
  background-color: #F2F6F7;
}

.section1 .section-left {
  line-height: 35px;
}

.section1 .section-left i {
  color: #FF5A3C;
}

.section1 .section-left h1 {
  font-size: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #071C1F;
}

.section1 .section-left .line {
  padding: 5px 10px;
  border-left: 1px solid black;
}

.section1 .section-left .line p {
  color: #94A4AA;
  width: 450px;
}

.section1 .section-left a {
  margin-top: 30px;
  padding: 17px 25px;
  display: inline-block;
  background-color: #FF5A3C;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid firebrick;
  z-index: 1;
}

.section1 .section-left a:hover {
  border: 1px solid black;
  color: black;
}

.section1 .section-left a:hover::before {
  width: 100%;
  opacity: 1;
  z-index: -1;
}

.section1 .section-left a::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  content: '';
  position: absolute;
  width: 0%;
  top: 0%;
  background-color: #fff;
  left: 0%;
  height: 100%;
}

.section1 .section-left .i2 {
  margin-top: 40px;
  margin-left: 40px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 50%;
}

.section1 .section-right {
  margin-top: 40px;
  margin: 70px 25px;
}

.select {
  width: 80%;
  position: absolute;
  padding: 20px 0;
  background-color: #fff;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -1%);
          transform: translate(-50%, -1%);
  margin: auto;
  padding: 20px 0;
  border: 1px solid black;
}

.select .box-btn {
  text-align: end;
}

.select .box-btn a {
  margin-top: 30px;
  padding: 17px 25px;
  display: inline-block;
  background-color: #FF5A3C;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid firebrick;
  z-index: 1;
}

.select .box-btn a:hover {
  border: 1px solid black;
  color: black;
}

.select .box-btn a:hover::before {
  width: 100%;
  opacity: 1;
  z-index: -1;
}

.select .box-btn a::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  content: '';
  position: absolute;
  width: 0%;
  top: 0%;
  background-color: #fff;
  left: 0%;
  height: 100%;
}

.select .box {
  border: 1px solid black;
  padding: 12px;
}

.section2 {
  padding: 20px 0;
}

.section2 .section2-left .section2-img {
  position: relative;
}

.section2 .section2-left .section2-img .in-img {
  position: absolute;
  top: 50%;
  left: -40%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.section2 .section2-left .section2-img .in-img .mini-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 50%;
  color: #FF5A3C;
}

.section2 .section2-right .top-P {
  padding: 5px 20px;
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  width: 20%;
  border-radius: 20px;
  background-color: #FFEFEC;
  color: #FF5A86;
}

.section2 .section2-right h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-left: 5px;
  margin: 10px 0;
}

.section2 .section2-right .icons {
  margin-top: 30px;
}

.section2 .section2-right .icons ul li {
  width: 50%;
  padding-right: 20px;
}

.section2 .section2-right .icons ul li i {
  margin-top: 25px;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: #F5DFDC;
  color: #FC8D60;
}

.section2 .section2-right .bottom-P {
  background-color: #FEF5F4;
  padding: 20px 15px;
  border-left: 4px solid #FF5A3C;
  margin: 40px 0;
}

.section2 .section2-right a {
  margin-top: 30px;
  padding: 17px 25px;
  display: inline-block;
  background-color: #FF5A3C;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid firebrick;
  z-index: 1;
}

.section2 .section2-right a:hover {
  border: 1px solid black;
  color: black;
}

.section2 .section2-right a:hover::before {
  width: 100%;
  opacity: 1;
  z-index: -1;
}

.section2 .section2-right a::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  content: '';
  position: absolute;
  width: 0%;
  top: 0%;
  background-color: #fff;
  left: 0%;
  height: 100%;
}

.section3 {
  height: 65vh;
  background-color: #F2F6F7;
}

.section3 .section3-box {
  height: 100%;
  width: 100%;
}

.section3 .section3-box i {
  padding: 50px 0;
  font-size: 65px;
  color: #FF5A3C;
  margin-top: 40px;
}

.section3 .section3-box h4 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.section3 .section3-box p {
  color: #9BA2A8;
  font-weight: bold;
}

.section4 a {
  padding: 5px 20px;
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  width: 20%;
  border-radius: 20px;
  background-color: #FFEFEC;
  color: #FF5A86;
  text-decoration: none;
  display: block;
}

.section4 h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.section4 p {
  color: #808D8E;
  width: 90%;
}

.section4 .ulFirst {
  margin-top: 30px;
}

.section4 .ulFirst li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.section4 .ulFirst li hr {
  width: 20px;
  height: 2px;
  background-color: red;
}

.section4 .ulFirst li span {
  margin-top: 5px;
  margin-left: 20px;
  color: #808D8E;
}

.section4 .ulSecond li {
  width: 100%;
  color: #808D8E;
  border-right: 0.5px solid #808D8E;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.section4 .ulSecond li.li-Last {
  border: none;
}

.section4 .ulThird {
  margin-top: 27px;
}

.section5 {
  background-color: #F2F6F7;
  height: 100vh;
}

.section5 .section5-text {
  padding: 40px 0;
}

.section5 .section5-text span {
  padding: 5px 20px;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  border-radius: 20px;
  background-color: #FFEFEC;
  color: #FF5A86;
  text-decoration: none;
}

.section5 .section5-text h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin-top: 10px;
}

.section5 .section5-box .box-text5 {
  background-color: #fff;
  text-align: center;
  padding: 40px 30px 35px;
}

.section5 .section5-box .box-text5 a {
  display: block;
  text-decoration: none;
  margin: 15px 0;
  color: #5c688b;
}

.section6 {
  height: 100vh;
}

.section6 .image6 {
  position: relative;
}

.section6 .image6 .location {
  position: absolute;
  bottom: 0%;
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section6 .image6 .location ul li i {
  color: #fff;
  padding-left: 1px;
}

.section6 .image6 .for-rent {
  position: absolute;
  top: 100%;
}

@media (max-width: 992px) {
  #header .top-header .top-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .top-header .top-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #header .top-header .top-left i {
    margin-top: 20px;
  }
  #header .top-header .top-left button {
    height: 50px;
    font-size: 15px;
    font-weight: 400;
  }
  #header .bottom-header {
    text-align: center;
    height: 25vh;
  }
  #header .bottom-header .bottom-left {
    width: 100%;
  }
  #header .bottom-header .bottom-midle {
    display: none;
  }
  #header .bottom-header .bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .bottom-header .bottom-right i {
    padding: 20px 20px;
  }
  #header .bottom-header .bottom-right .icon1 {
    display: block;
  }
  .section1 {
    height: 100%;
  }
  .section1 .section-right h1 {
    font-size: 30px;
    width: 100%;
  }
  .section1 .section-right button {
    padding: 10px 15px;
    border-radius: 0;
  }
  .select {
    padding: 30px 0;
    width: 100%;
  }
  .select .box {
    margin-bottom: 20px;
  }
  .section2 {
    height: 100%;
  }
  .section2 .section1-box {
    position: relative;
    height: 50vh;
    width: 100%;
  }
  .section2 .section1-box a {
    display: block;
  }
  .section3 {
    height: 100%;
  }
  .section4 {
    height: 100%;
  }
  .section5 {
    height: 100%;
  }
  .section5 .section5-box {
    bottom: 50%;
  }
}

@media (max-width: 762px) {
  .section2 .section2-right ul {
    width: 100%;
  }
  .section2 .section2-right ul li {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */